.empty-board {
  margin: auto;
  border: 1px solid #333;
  width: fit-content;
}

.empty-board .cell {
    cursor: pointer;
}

.legend {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.legend > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend .alive,
.legend .dead {
    border: 1px solid #777;
    width: 10px;
    height: 10px;
}

.legend .alive {
    background-color: #000;
}

.legend .dead {
    background-color: #fff;
}